@page
@{
}
<footer>
    <section>
        <div class="footerBlocks">
            <div>block 1</div>
            <div>block 2</div>
            <div>block 3</div>
        </div>
        <div class="copyright">Copyright &copy; @DateTime.Now.Year - Motores506.com</div>
    </section>
</footer>