@import '_theme';
@font-face {
    font-family: 'Roboto';
    src: url('/fonts/Roboto-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
html {
    font-family: 'Roboto', arial, serif;
    font-size: 13px;
    line-height: 16px;
    overflow-y: scroll;
    height: 100%;
    width: 100%;
}
body {
    width: inherit;
    height: inherit;
    font-family: 'Roboto', arial, serif;
    margin: 0;
}
